In [1]:
import numpy as np
import pandas as pd

In [2]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [3]:
A.append(B)
A

[1, 2, 3, 4, 5, 6, [13, 21, 34]]

In [4]:
A = [1,2,3,4,5,6]
A.extend(B)

In [5]:
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [6]:
A = [1,2,3,4,5,6]

In [7]:
A

[1, 2, 3, 4, 5, 6]

In [8]:
np.identity(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [9]:
fueldata = pd.read_csv('fuel_ferc1.csv')
fueldata.columns

Index(['cord_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu', 'Unnamed: 11'],
      dtype='object')

In [10]:
a = fueldata.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
a

fuel_type_code_pudl
coal         67.424889
gas          13.660770
nuclear    4955.157323
oil         168.877398
other        18.254311
waste        19.518299
Name: fuel_cost_per_unit_burned, dtype: float64

In [11]:
fueldata['fuel_mmbtu_per_unit'].describe().round(2)

count    29521.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

In [12]:
b = fueldata['fuel_qty_burned']

In [13]:
b.skew().round(2)

15.85

In [14]:
b.kurtosis().round(2)

651.33000000000004

In [15]:
for col in fueldata.columns:
    if fueldata[col].isnull().all():
        a = fueldata[col].isnull().count()
        print(col, a, round(a/len(fueldata)*100, 3))

Unnamed: 11 29521 100.0

In [16]:
fueldata.head()

,cord_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu,Unnamed: 11
0,f1_fuel_1994_12_1_0_7,1.0,1994.0,rockport,coal,ton,5377489.0,16.59,18.59,18.53,1.12,NaN
1,f1_fuel_1994_12_1_0_10,1.0,1994.0,rockport total plant,coal,ton,10486945.0,16.59,18.58,18.53,1.12,NaN
2,f1_fuel_1994_12_2_0_1,2.0,1994.0,gorgas,coal,ton,2978683.0,24.13,39.72,38.12,1.65,NaN
3,f1_fuel_1994_12_2_0_7,2.0,1994.0,barry,coal,ton,3739484.0,23.95,47.21,45.99,1.97,NaN
4,f1_fuel_1994_12_2_0_10,2.0,1994.0,chickasaw,gas,mcf,40533.0,1.00,2.77,2.77,2.57,NaN

In [17]:
sam = fueldata.groupby('fuel_cost_per_unit_burned')

In [18]:
for col in fueldata.columns:
    print(col, fueldata[col].dtype)

cord_id object
utility_id_ferc1 float64
report_year float64
plant_name_ferc1 object
fuel_type_code_pudl object
fuel_unit object
fuel_qty_burned float64
fuel_mmbtu_per_unit float64
fuel_cost_per_unit_burned float64
fuel_cost_per_unit_delivered float64
fuel_cost_per_mmbtu float64
Unnamed: 11 float64

In [19]:
import scipy.stats as stats

In [20]:
for col in fueldata.columns:
    if (fueldata[col].dtype == 'float64'):
        print(col, stats.pearsonr(fueldata['fuel_cost_per_unit_burned'], fueldata[col]))

utility_id_ferc1 (-0.037864499045736751, 7.6252371966705716e-11)
report_year (0.013593048181474601, 0.019516140217356686)
fuel_qty_burned (-0.018536302647747943, 0.0014476087487816311)
fuel_mmbtu_per_unit (-0.010022798613707353, 0.085059529903453515)
fuel_cost_per_unit_burned (1.0, 0.0)
fuel_cost_per_unit_delivered (0.011007355811838464, 0.058594255503376269)
fuel_cost_per_mmbtu (-0.00043722713421361938, 0.94011941533519494)
Unnamed: 11 (nan, 1.0)

C:\Users\owner\Anaconda3\lib\site-packages\scipy\stats\stats.py:5277: RuntimeWarning: invalid value encountered in less
  x = np.where(x < 1.0, x, 1.0)  # if x > 1 then return 1.0

In [21]:
res = fueldata.groupby(['fuel_type_code_pudl', 'report_year'])['fuel_cost_per_unit_burned'].sum()
yrs = res.loc['coal']
print(yrs)

report_year
1994.0     14940.53
1995.0     14571.88
1996.0     12694.89
1997.0     43742.31
1998.0     11902.76
1999.0     16303.66
2000.0    100428.99
2001.0     15109.22
2002.0      9171.28
2003.0     30954.23
2004.0      9632.13
2005.0     11107.22
2006.0     12402.76
2007.0     12965.32
2008.0     14331.44
2009.0     45554.99
2010.0     88627.90
2011.0     17001.16
2012.0     17546.14
2013.0     17630.00
2014.0     15412.28
2015.0     13338.33
2016.0     11101.00
2017.0     10254.35
2018.0      9488.33
Name: fuel_cost_per_unit_burned, dtype: float64

In [22]:
yr1 = yrs[1994.0]
yr2 = yrs[1998.0]
(yr2 - yr1)/yr1 * 100

-20.332411233068704

In [23]:
fueldata.columns

Index(['cord_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu', 'Unnamed: 11'],
      dtype='object')

In [24]:
max1 = fueldata.groupby('fuel_cost_per_unit_delivered')['report_year'].max()
max1

fuel_cost_per_unit_delivered
-874.94        2008.0
-488.05        2007.0
-313.41        2004.0
-174.67        2000.0
-170.19        2015.0
-118.34        2003.0
-93.47         2013.0
-91.90         2012.0
-85.64         1995.0
-62.29         2008.0
-60.29         2002.0
-58.80         1994.0
-53.56         1995.0
-44.05         1996.0
-43.75         1998.0
-43.42         2011.0
-42.29         1995.0
-41.50         1996.0
-40.73         2016.0
-40.20         2002.0
-38.97         1997.0
-37.79         2001.0
-35.38         1994.0
-34.85         2003.0
-32.97         1999.0
-31.50         2005.0
-30.04         2004.0
-24.30         2006.0
-17.01         2000.0
-14.24         2000.0
                ...
 16378.32      2014.0
 26340.00      2000.0
 26714.00      1998.0
 29303.00      2000.0
 31416.00      2002.0
 34381.00      2001.0
 34518.00      2003.0
 41497.00      2000.0
 42249.00      2000.0
 44033.32      2010.0
 45115.00      1994.0
 69440.00      2016.0
 72916.00      2015.0
 76656.00      1996.0
 88419.00      2018.0
 92484.00      2018.0
 94096.00      2015.0
 132884.00     2004.0
 135315.00     2013.0
 136410.00     2014.0
 140706.00     2015.0
 245652.00     2018.0
 270604.00     1998.0
 730166.00     2009.0
 1168000.00    2000.0
 1942979.00    1997.0
 2114508.00    1996.0
 2255688.00    1997.0
 7793482.00    1996.0
 7964521.00    1997.0
Name: report_year, Length: 8434, dtype: float64